rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null && request.auth.token.email == 'wramkim@gmail.com';
    }

    match /letters/{letterId} {
      allow read, write: if isOwner();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
